body {
	text-align: center;
	background: white;
	margin: 0 0px 0px 0px;
	font: 14px/18px 'Lucida Grande', 'Segoe UI', sans-serif;
    user-select:none;
}

h1 {
	font: bold italic 30px Georgia, serif;
}

canvas {
	display: block;
	background: white;
}

.markovCanvasDiv{
    position:absolute;
    z-index: -1;
    margin: 0px;
}

.right { /* used to float the information panel to the right of the screen */
    float: right;
    width: 20%;
    padding: 10px;
    text-align: left;
}

.statePanel {
    text-align :start;
    right: 0px;
    width: 300px;
    border: 3px solid #000000;
    padding: 10px;

}


.accordion {
  background: none;
  color: black;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: start;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  overflow:auto;
}

.accordion:hover {
  background-color: #ccc;
}

.active {
  background-color: #ccc;
}

.active.accordion:hover {
  background-color: #aaa;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panelWrapper {
  border:3px solid #171717;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.title {
  float: left;
  pointer-events: none;
}

.algorithms {
    max-width: 94%;
    position: absolute;
    top: 72%;
    margin-left: 2%;
    margin-right: 2%;
    bottom :0px;
    overflow-y: auto;
    text-align: left;
}

#tableWrapper {
  position:relative;
}

#tableScroll {
  overflow:auto;  
  pointer-events: all;
}

#tableWrapper table {
  max-width:100%;
  border-collapse: collapse;
}

#tableWrapper table * {
  border: 1px solid#000000;
  background-color:rgba(200,200,200,0.2);
  white-space: nowrap;
}

#tableWrapper table th {
    background-color: rgba(80,80,80,0.2);;
}

#tableWrapper td th {
    width: 10%;
}

.hoverInfo{
    pointer-events: all;
    position: fixed;
    background-color: rgba(150,150,150,0.9);
    border: 1px solid;
    display: none;
    text-align: center;
}

.usable{ 
  pointer-events: all;
}

#algDiv {
  max-width: 100%;
  transition: max-width ease-in;
  transition-duration: 1s;
  transition-delay: 0ms;
  width: min-content;
}

.algInput{
    text-align: left;
    padding-left: 35px;
    white-space: nowrap;
    max-width: 100%;
    transition: max-width ease-in;
    transition-duration: 1s;
    transition-delay: 0ms;
    width: min-content;
}

.stepSpeed{
  background: black;
}

#information form{
  display: table;
  text-align: left;
}

#information p{
  display: table-row;
}

#information label{
  width: 30%;
  display: table-cell;
}

#information input{
  width: 70%;
  display: table-cell;
}

#init0{
  text-align: center;
}

#equ0{
  text-align: center;
}

#closeBtn{
    font-size: 30px;
    font-family: monospace;
}