body {
	text-align: center;
	background: white;
	margin: 0 0px 0px 0px;
	font: 14px/18px 'Lucida Grande', 'Segoe UI', sans-serif;
    user-select:none;
}

h1 {
	font: bold italic 50px Georgia, serif;
}

canvas {
	display: block;
	background: white;
	/* border-radius: 20px; */
	/* -moz-border-radius: 20px; */
	/* margin: 10px auto; */
    /* border: 3px solid #000000; */  /* if i want a border it needs to be drawn on the canvas*/
    /* outline-width: 2px; */
    /* min-height: 100%; */
}

.markovCanvasDiv{
    position:absolute;
    z-index: -1;
    /* min-height: 1000px; */
    /* border: 3px solid #73AD21; */
    margin: 0px;
}

.right {
    float: right;
    width: 300px;
    /* border: 3px solid #73AD21; */
    padding: 10px;
}

.statePanel {
    text-align :start;
    right: 0px;
    width: 300px;
    border: 3px solid #000000;
    padding: 10px;

}


.accordion {
  background: none;
  color: black;
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  border: none;
  text-align: start;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

/* .topButton{
  color:blanchedalmond;
}

.active, .topButton {
  disab
} */

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panelWrapper {
  border:3px solid #171717;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.title {
  float: left;
  pointer-events: none;
}

.algorithms {
    pointer-events: none;
    width: 94%;
    position: absolute;
    /* bottom: 10%; */
    top: 80%;
    /* padding: 5%; */
    /* margin: 2%; */
    margin-left: 2%;
    margin-right: 2%;
}
#tableWrapper {
  position:relative;
}
#tableScroll {
  overflow:auto;  
  pointer-events: all;
}
#tableWrapper table {
  max-width:100%;
  border-collapse: collapse;
}
#tableWrapper table * {
  border: 1px solid#000000;
  background-color:rgba(200,200,200,0.2);
}
#tableWrapper table th {
    background-color: rgba(80,80,80,0.2);;
}
#tableWrapper td th {
    width: 10%;
}
/* #tableWrapper table thead th {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
} */

.hoverInfo{
    pointer-events: all;
    position: fixed;
    background-color: green;
    border: 1px solid;
    display: none;
    text-align: center;
}

.usable{
    
  pointer-events: all;
}

.algInput{
    text-align: left;
    padding-left: 5%;
}

#information form{
  display: table;
  text-align: left;
}
#information p{
  display: table-row;
}
#information label{
  display: table-cell;
}
#information input{
  display: table-cell;
}
